[SddmGreeterTheme]
Name=DDLC
Description=SDDM theme in the style of Doki Doki Literature Club
Description[ru]=Тема SDDM в стиле Doki Doki Literature Club
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=ddlc
Theme-API=2.0
QtVersion=6
